<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Description -->
        <div class="col-md-4 description">
          <h4>Livestock Healthmark</h4>
          <p>
            Enhancing livestock health through innovative management
            solutions. Ensuring optimal care and market integration.
          </p>
        </div>

        <!-- Quick Links and Other Links -->
        <div class="col-md-4 links">
          <div class="row">
            <div class="col-6">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="col-6">
              <h5>Other Links</h5>
              <ul class="list-unstyled">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Social Media Links -->
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <div class="social-icons">
            <a href="#" class="btn btn-outline-light btn-sm" role="button">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="btn btn-outline-light btn-sm" role="button">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-outline-light btn-sm" role="button">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="btn btn-outline-light btn-sm" role="button">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="fo">
    <div class="foo">
      <p class="copyright">
        © 2024 All Rights Reserved | Livestock HealthMark
      </p>
    </div>
  </div>